.container {
  background-image: 'foto.jpg';
}
.headline {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  font-weight: bold;
}
.image {
  width: 100%;
  height: auto;
}
